@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
    url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff"),
    url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Light";
  src: url("../fonts/HKGrotesk-Light.woff") format("woff"),
    url("../fonts/HKGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../fonts/HKGrotesk-Medium.woff") format("woff"),
    url("../fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
