@media ( max-width: 1300px)
  .hero
    &__container
      width: 98%
@media (max-width: 1200px)
  .container
    max-width: 960px
  .base
    width: 550px
    margin-right: 25px
    &__img
      margin-bottom: 15px
    &__mainimg
      margin-right: 15px
      width: 310px
  .content
    &__title
      margin-top: 7px
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 15px
  .card
    width: 220px
    min-height: 385px
    &__title
      font-size: 19px
    &__price
      font-size: 15px
  .last
    &-card
      width: 220px
      height: 296px
    &_icon
      padding-top: 99px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-menu
      &__link
        padding-right: 15px
  .hero
    margin-bottom: 78px
    &__container
      height: 624px
      &::before
        width: 119%
        height: 108%
    &-wrapper
      padding-top: 39px
      padding-left: 33px
    &__info
      width: 400px
      // height: 378px
      margin-bottom: 36px
    &__title
      margin-top: 30px
      margin-bottom: 20px
      font-size: 48px
      line-height: 60px
    &__subtitle
      font-size: 18px
      line-height: 32px
    &__button
      margin-bottom: 41px
  .frame
    &__item
      margin-right: 18px
  .collection
    &-wrapper
      display: block
  .base
    width: 670px
    margin: 0
    &__mainimg
      width: 320px
    &__img
      margin-bottom: 30px
  .card
    min-height: 340px
    margin-bottom: 30px
    width: 160px
  .last
    &-card
      width: 160px
      height: 215px
      &_info
        font-size: 16px
      &_icon
        padding-top: 55px
        margin-bottom: 15px
@media (max-width: 768px)
  .trending
    &__container
      max-width: 608px
  .collection
    margin-bottom: 78px
    &__container
      width: 672px
  .header
    &__container
      width: 86%
  .navbar
    &-menu
      display: none
  .header
    padding-top: 18px
    padding-bottom: 18px
    margin-bottom: 30px
    &__button
      display: none
  .menu
    &-button
      display: flex
      width: 22px
      height: 18px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
  .content
    &__title
      margin-top: 10px
      margin-bottom: 24px
    &__subtitle
      margin-bottom: 24px
  .trending
    margin-bottom: 43px
    &__header
      display: block
      text-align: center
      margin-bottom: 58px
    &__title
      margin-bottom: 27px
    &__link
      &:first-child
        margin-left: 0
  .card
    min-height: 450px
    margin-bottom: 30px
    width: 280px
    margin-bottom: 39px
    &__title
      font-size: 24px
    &__price
      font-size: 20px
    &__img
      width: 280px
      height: 347px
  .last
    &-card
      width: 280px
      height: 350px
      &_icon
        padding-top: 125px
        margin-bottom: 25px
      &_info
        font-size: 24px
  .swiper
    &-container
      width: 630px
  .reviews
    &__container
      width: 630px
    &-slider
      &__img
        margin-bottom: 39px
  .text
    &_visible
      display: none
