.collection
  margin-bottom: 148px
  height: 490px
  &-container
    width: 1200px
    margin: auto
  &-wrapper
    display: flex
    justify-content: space-between
.content
  min-width: 412px
  &__title
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: #183B56
    margin: 0
    margin-bottom: 24px
  &__subtitle
    width: 392px
    margin: 0
    margin-bottom: 40px
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: #5A7184
  &__link
    text-decoration: none
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: #1565D8
  &__icon
    margin-left: 19px
.base
  margin-right: 10px
  justify-content: space-between
  width: 670px
  display: flex
  &__mainimg
    margin-right: 30px
    width: 320px
  &__subimg
    width: 320px
    display: flex
    flex-direction: column
    justify-content: space-between
