.stories
  margin-bottom: 116px
  &-wrapper
    display: flex
    justify-content: space-between
    border-top: 1px solid #E5EAF4
    padding-top: 120px
  &-slide
    width: 100%
  &-slider
    &-navigations
      display: flex
    &-button
      width: 54px
      height: 56px
      border: none
      box-sizing: border-box
      // background-color: transparent
      cursor: pointer
      padding: 0
      margin-right: 22px
      // &:hover
      //   background-color: rgba(21, 37, 72, 0.1)
      &--disabled
        opacity: 0.2
        cursor: auto
        background-color: transparent
      &--prev
        // background: url(https://maria-shkurko.ru/ehya/img/button-prev.svg)
        border-radius: 50%
        &--disabled
          // background: url(https://maria-shkurko.ru/ehya/img/button-prev-disabled.svg)
          cursor: auto
          &:hover
            background-color: transparent
      &--next
        margin: 0
        width: 56px
        // background: url(https://maria-shkurko.ru/ehya/img/button-next.svg)
        border-radius: 50%
        &--disabled
          width: 56px
          // background: url(https://maria-shkurko.ru/ehya/img/button-next-disabled.svg)
          cursor: auto
          &:hover
            background-color: transparent
  &__info
    width: 392px
  &__hashtag
    text-decoration: none
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-align: center
    text-transform: uppercase
    color: #36B37E
    background: rgba(54, 179, 126, 0.1)
    border-radius: 2000px
    padding: 6px 16px
  &__title
    font-family: 'HKGrotesk-Bold'
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: #183B56
    margin-top: 28px
    margin-bottom: 24px
  &__subtitle
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: #5A7184
    margin-bottom: 48px
  &__items
    width: 662px
  &-swiper
    width: 100%
    &-slide
      width: 100%
  &-slider
    &_img
      position: relative
      border-radius: 8px 8px 0px 0px
      object-fit: cover
      overflow: hidden
    &_item
      display: flex
      justify-content: space-between
    &_info
      background-color: #FAFDFF
      position: relative
      top: -24px
      right: -10px
      width: 312px
      padding-bottom: 20px
    &_left
      width: 322px
      margin-right: 28px
    &_right
      width: 322px
      margin-right: 28px
    &_title
      font-family: 'HKGrotesk-Medium'
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: #183B56
      width: 260px
      padding-top: 20px
      padding-left: 26px
      margin-bottom: 18px
    &_next
      text-decoration: none
      font-weight: 600
      font-size: 16px
      line-height: 22px
      padding-left: 30px
      color: #1565D8
.stories
  &-swiper
    width: 652px
    margin: 0
